<div id="wrapper">
  <script src="https://www.paypal.com/sdk/js?client-id=AYoTPhGHMFmdID33CmbkJtMP01plG_oRoD9z4S2BRfhyRUXVeIrfOhkrjnjBOiYidq9qzupReEHqO4yw"></script>

  <div id="container">

    <div id="info">

      <img id="product" src="assets/img/1.png"/>

      <p>Mascarilla con Ventilador</p>
      <p>Black</p>

      <div id="price">

        <h2>$ 2 700</h2>

      </div>
    </div>

    <div id="payment">

      <form id="checkout">

        <label>Nombre Completo</label>
        <input class="cardtexts" id="nombre" type="text" name="name" requierd="true" maxlength="50" placeholder="">
        <label>Calle y numero</label>
        <input id="calle" class="cardtexts" type="text" name="name" requierd="true" maxlength="50" placeholder="">
        <label>Colonia</label>
        <input id="colonia" type="text" class="cardtexts" name="name" requierd="true" maxlength="50" placeholder="">
        <label>C.P.</label>
        <input id="codigopostal" type="text"  class="cardtexts"name="name" requierd="true" maxlength="50" placeholder="">
        <label>Ciudad</label>
        <input id="ciudad" type="text"  class="cardtexts"name="name" requierd="true" maxlength="50" placeholder="">






      </form>
      <ngx-paypal [config]="payPalConfig"></ngx-paypal>

<!--      <script>paypal.Buttons().render('#paypal-button-container');</script>-->
    </div>

  </div>
</div>
