#main-content {

}

.imagen-landing {
  background-image: url("/assets/img/landingScreen.gif");
  background-size: cover;
  background-position: center;
}

img.imagen-logo {
  max-width: 50%;
  height: auto;
}

#main-offer {
  background-color: black;
  color: #fff;
  opacity: .5;
  font-size: x-large;
}

#main-offer-btn {
  color: mintcream;
  opacity: 1;
  font-size: x-large;
}

#main-offer-btn:hover {
  color: #333333;
}

#features {
  color: mintcream;
}

.features {
  font-size: x-large;
}
.list-group {
  display: inline-block;
  color: whitesmoke;
  font-size: x-large;
  font-family: 'Lato', sans-serif;

}
#faq {
  color: whitesmoke;
}

.zoom {

  transition: transform .2s; /* Animation */

}

.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

p.preg {
  font-size: x-large;
  color: yellow;
}

p.resp {

}
